<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>sign-in</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

<!--    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>error/error.jsp</location>
    </error-page>-->
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
<error-page>
        <error-code>413</error-code>
        <location>/error/413.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    
<!--    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.fuem.filters.AuthorizationFilter</filter-class>
    </filter>-->
    
</web-app>
